In [1]:
import pandas as pd

In [2]:
# The map() function is used for substituting each value in a Series with another value. 
# Where the new value is generated from a function, a dictionary, or a Series.

# Define the function "say_hello" so it prints "Hello!" when called.

def say_hello():
    print("Hello!")

say_hello()

Hello!

In [6]:
# Define the function "say_something" so it prints whatever is passed as the variable when called.

def say_something(something):
    print(something)
    
say_something("Hello World!")

Hello World!

In [7]:
Jane_says = "Hi, my name is Jane. I'm learning Python!"

say_something(Jane_says)

Hi, my name is Jane. I'm learning Python!

In [8]:
# A list of my grades.
my_grades = ['B', 'C', 'B' , 'D']

In [9]:
# Covert my_grades to series

my_grades = pd.Series(my_grades)

my_grades

0    B
1    C
2    B
3    D
dtype: object

In [11]:
#use map() to change values in the series

my_grades.map({"B": "A", "C" : "B", "D" : "C"})

0    A
1    B
2    A
3    C
dtype: object

In [12]:
# The Python format() function is used to format a value to a specific format, such as one or two decimal places,
# or adding a thousands separator. 

# Using the format() function.
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))

92
85
87
98

In [13]:
# Convert the numerical grades to a Series.

my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

In [14]:
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object

In [15]:
# Format the "Total Students" to have the comma for a thousands separator.

district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

district_summary_df["Total Students"]

NameError: name 'district_summary_df' is not defined